<h1>USERS LOG IN</h1>
  <form action="/user" method="post"> 
    <input type="email" name="email" placeholder="Email"><br>
    <input type="text" name="password" placeholder="Pasword"><br>
    <input type="submit" value="LOG IN">
  </form>

<h1>USERS SIGN IN</h1>
  <form action="/sign_in" method="post">
    <input type="text" name="name" placeholder="Name"><br>  
    <input type="email" name="email" placeholder="Email"><br>
    <input type="text" name="password" placeholder="Pasword"><br>
    <input type="submit" value="SIGN IN">
  </form>

<h1>ENTER TO THE SECRET PAGE</h1>
  <form action="/secret" method="get">
    <input type="submit" value="SECRET" 
         name="Submit" id="frm1_submit" />
</form>