<h1>SECRET</h1>
<img src="alien.png" style="width:200px;height:200px;">

<form action="/web" method="post">
  <a href="/<%= "web" %>" target="_blank"><%= "?????"%></a>
</form>

<h3>CERRAR SESION</h3>
<form action="/log_out" method="get">
    <input type="submit" value="LOG OUT" 
         name="Submit" id="frm1_submit" />
</form>
