<h1>Profile Page</h1>
<h2>WELCOME <%= @user.name.upcase%> </h2>

<h1>THE ACCOUNT WAS SUCCESFULY CREATED</h1>
<form action="/" method="get">
    <input type="submit" value="LOG" 
         name="Submit" id="frm1_submit" />
</form>
