<h1>Profile Page</h1>
<h2>WELCOME  </h2>
<h3>ENTRA A LA PAGINA SECRETA</h3>

<form action="/secret" method="post">
    <input type="submit" value="SECRET" 
         name="Submit" id="frm1_submit" />
</form>

